.filter {
    justify-content: center
}

.filter h5 {
    margin-right: 15px;
    margin-left: 15px;
}

.filter h5:hover {
    color: var(--bright-blue);
}

.filter.dark {
    background-color: var(--very-dark-grey);
}