.filter,
.todo-list {
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.filter .dark,
.todo-list .dark {
    background-color: var(--very-dark-grey);
}

.filter .light,
.filter .light {
    background-color: var(--slight-white);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

label {
    line-height: 2.75;
    color: var(--very-dark-grey);
}


.todo-list-bottom {
    padding: 5px;
    line-height: 1.75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin: 0 10px;
    color: var(--med-grey);
}

.filter {
    justify-content: center;
}

.filter div {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filter label {
    margin-right: 15px;
    margin-left: 15px;
}

.filter label:hover {
    color: var(--bright-blue);
    cursor: pointer;
}

.filter div input {
    /* opacity: 0; */
    position: absolute;
    width: 27px;
    height: 27px;
}

.filter div input:hover {
    cursor: pointer;
}

